@import "var";
@import "body";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;500;600;700;800&display=swap');

body {
    background-color: $theme-body;
    font-family: 'Lexend Deca', sans-serif;
}

#main-area {
    padding: 0;
    min-height: 1500px;
}

.carousel-caption {
    color: white !important;
}

.carousel-control-prev-icon {
    color: white !important;
}


.carousel-item {
    img {
        height: calc(100vh - 78px);
    }
}

.bar-title {
    height: 150px;
    min-width: 100%;
}

.content-container {
    position: relative;
    color: white;

    img {
        position: absolute;
    }

    .title {
        position: absolute;
        padding-top: 60px;
    }

}

.main-wrapper-x {
    #content-wrapper {
        padding-top: 160px;
    }
}
