@import "var";
@import "body";
@import "blog";


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;500;600;700;800&display=swap');

body {
    background-color: $theme-body;
    font-family: 'Lexend Deca', sans-serif;
}

.button-message-contact {
    width: 100%;
}

#main-area {
    padding: 0;
    min-height: 750px;
}

.carousel-caption {
    color: white !important;
}

.carousel-control-prev-icon {
    color: white !important;
}


.carousel-item {
    img {
        height: calc(100vh - 78px);
        object-fit: none;
    }
}

.bar-title {
    min-width: 100%;
}

.content-container {
    position: relative;
    color: white;

    img {
        position: absolute;
        width: 100%;
        height: 150px;
    }

    .title {
        position: absolute;
        padding-top: 60px;
    }

}

.main-wrapper-x {
    #content-wrapper.container {
        padding: 180px 14px 20px 14px;

        &.blog-area-wrapper {
            padding: 170px 14px 20px 0px;
        }
    }
}

.message-information {
    width: 70%;
    height: 400px;
    margin: 200px 15%;
    position: absolute;
    // background-color: rgba(104, 211, 5, 0.527);
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    h1 {
        color: white !important;
        font-size: 60px;
    }

    color: white !important;

    .order-now {
        margin-top: 40px;
        width: 20%;
    }

}

#modal-title-order {
    font-size: 24px;
    font-weight: 800;
}

#modal-table {
    tr {
        .text-start {
            font-weight: 200;
        }
    }
}

#blog-main-headline {
    background-image: url("/assets/img/headline.png");
}

.blog-card {
    background-color: white;

    h3 {
        font-size: 20px;
    }
}

.blog-list {
    padding: 20px 24px 0 24px !important;
}

.blog-list-area {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.blog-about {
    margin-top: 20px;
}

.blog-archives {
    padding-bottom: 0;
}

.todos-item {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;

    .todo-task {
        padding-top: 8px;
        padding-left: 10px;
    }

    &:hover {
        background-color: rgb(243, 243, 243);
        cursor: pointer;
    }

    .form-check {
        .form-check-input {
            cursor: pointer;
        }

        .form-check-label {
            user-select: none;
            cursor: pointer;
        }
    }

    .todo-delete {
        background-color: red;
        height: 40px;
        color: white;
        font-size: 22px;
        padding-top: 5px;
        padding: 5px 0 0 0;
        margin: 0;
        text-align: center;

        &:hover {
            background-color: rgb(212, 0, 0);
        }


    }
}

.modal-dialog {
    z-index: 1000 !important;
}

.modal-backdrop .fade .show {
    z-index: 100 !important;
}

.relative {
    position: relative;
}

@media screen and (max-width: 1000px) {

    .message-information {

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 20px;
        }

        .order-now {
            margin-top: 20px;
            width: 20%;
        }

    }

}

.pricing-header {
    max-width: 700px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

// Feature

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.smaller-title {
    font-size: 28px;
}


.tech-logo {
    width: 100%;
    height: auto;
}

#container-home {
    max-width: 996px;
}

@media screen and (max-width: 768px) {
    .tech-logo {
        width: 60%;
        height: auto;
    }
}

.title-contact {
    margin-bottom: 20px;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}

.project-item {
    h2 {
        font-size: 3vw;
    }

    p {
        font-size: 1.4vw;
    }
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 40px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.person-asset {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.person {
    h4 {
        margin-top: 10px;
        font-size: 20px;
    }

    p {
        margin-top: 10px;
        font-weight: 300;
    }
}


.project-overview {
    img {
        width: 100%;
        height: auto;
    }
}


.predictions-item-green {
    width: 100%;
    min-height: 150px;
    background-color: #C0DEB8;
    margin-top: 30px;
    font-size: 14px;

    .prediction-text {
        grid-area: prediction-text;
        p {
            padding: 10px;
        }
    }

    .prediction-class {
        grid-area: prediction-class;
        background-color: #00960F !important;
        p {
            padding: 5px;
            font-size: 12px;
            text-align: center;
            color: white;
        }
    }

    .prediction-score {
        grid-area: prediction-score;
        p {
            padding: 5px 10px;
            font-size: 12px;
        }
    }

    .prediction-notes {
        grid-area: prediction-notes;
        p {
            padding: 5px 10px;
            font-size: 12px;
        }
    }

    .prediction-task-container {
        display: grid;
        grid-template-areas: 
            'prediction-text prediction-text prediction-text'
            'prediction-class prediction-score prediction-notes' !important;
        grid-template-rows: 90px 30px;
        grid-template-columns: 30% 20% 48%; 
        gap: 10px 1%;
        padding: 10px;
    }

    .prediction-task-container > div {
        background-color: #ECF4ED;
    }

    .prediction-delete {
        background-color: rgb(65, 65, 65);
        height: 150px;
        color: white;
        font-size: 22px;
        padding-top: 5px;
        padding: 53px 0 0 0;
        margin: 0;
        text-align: center;

        &:hover {
            background-color: rgb(53, 53, 53);
            cursor: pointer;
        }


    }
}

.predictions-item-red {
    width: 100%;
    min-height: 150px;
    background-color: #deb8b8;
    margin-top: 30px;
    font-size: 14px;

    .prediction-text {
        grid-area: prediction-text;
        p {
            padding: 10px;
        }
    }

    .prediction-class {
        grid-area: prediction-class;
        background-color: #961e00 !important;
        p {
            padding: 5px;
            font-size: 12px;
            text-align: center;
            color: white;
        }
    }

    .prediction-score {
        grid-area: prediction-score;
        p {
            padding: 5px 10px;
            font-size: 12px;
        }
    }

    .prediction-notes {
        grid-area: prediction-notes;
        p {
            padding: 5px 10px;
            font-size: 12px;
        }
    }

    .prediction-task-container {
        display: grid;
        grid-template-areas: 
            'prediction-text prediction-text prediction-text'
            'prediction-class prediction-score prediction-notes' !important;
        grid-template-rows: 90px 30px;
        grid-template-columns: 30% 20% 48%; 
        gap: 10px 1%;
        padding: 10px;
    }

    .prediction-task-container > div {
        background-color: #f4ecec;
    }

    .prediction-delete {
        background-color: rgb(65, 65, 65);
        height: 150px;
        color: white;
        font-size: 22px;
        padding-top: 5px;
        padding: 53px 0 0 0;
        margin: 0;
        text-align: center;

        &:hover {
            background-color: rgb(53, 53, 53);
            cursor: pointer;
        }


    }
}