.navbar {
  padding: 0.5rem 0 !important;
  background-color: white;
}

#collapse {
  height: 62px !important;
}

#navbar-nav {
  height: 100% !important;
}

#collapse-menu {
  -webkit-transition: none !important;
  transition: none !important;
}

.nav-item {
  height: 100%;
  padding: 0 0.7rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-item div {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-item.nav-active {
  background-color: #34d0ff;
  font-weight: 600;
}

.nav-item:hover {
  background-color: #73e3ff;
  cursor: pointer;
}

.nav-item:hover.nav-active {
  background-color: #34d0ff;
}
